<nav class="navbar navbar-expand-lg navbar-light cl">
  <a class="navbar-brand font-weight-bold" href="#">Timer</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="https://github.com/shoeb-gg">About Me</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/stopwatch">Stopwatch</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Lap(in progress)</a>
      </li>
    </ul>
    <span class="nav-item active float-right text-decoration-none">
      <a class="text-dark" href="#">Sign In</a>
    </span>
  </div>
</nav>
