<nav class="navbar navbar-expand-lg navbar-light cl">
  <a class="navbar-brand font-weight-bold" href="#">Timer</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="https://github.com/shoeb-gg">About Me</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/stopwatch">Stopwatch</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Lap(in progress)</a>
      </li>
    </ul>

    <span
      *ngIf="!loggedIn"
      class="nav-item float-right text-decoration-none d-flex"
    >
      <asl-google-signin-button
        class="ml-1"
        type="standard"
        theme="filled_black"
      ></asl-google-signin-button>
    </span>

    <span class="dropleft">
      <span
        *ngIf="loggedIn"
        style="cursor: pointer"
        class="float-right d-flex align-items-center bg-dark p-1 px-2 text-white rounded dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <img
          style="{{ photoStyle }}"
          src="{{ imgUrl }}"
          class="mr-1 rounded-circle"
        />
        {{ firstName }}

        <div
          (click)="logOut()"
          class="dropdown-menu bg-dark text-white pl-3"
          aria-labelledby="dropdownMenuButton"
        >
          Log Out
        </div>
      </span>
    </span>
  </div>
</nav>
