<div class="container">
  <div class="inp">
    <input class="in zm2" #hr type="number" value="" min="0" max="999" />
    <h5>hours</h5>
    <input class="in zm2" #min type="number" value="" min="0" max="60" />
    <h5>minutes</h5>
    <input class="in zm2" #sec type="number" value="" min="0" max="60" />
    <h5>seconds</h5>
    <button class="go zm" (click)="getValue(sec.value, min.value, hr.value)">
      GO
    </button>
  </div>
  <div class="warn" *ngIf="wrnmsg">
    <div class="wrn">{{ warningMessage }}</div>
  </div>
</div>
