.inp {
  display: flex;
  margin-top: 60px;
  justify-content: center;
  width: 100%;
}
.in {
  border-radius: 7px;
  text-align: center;
  border: 2px solid rgb(129, 17, 151);
}
h5 {
  margin-left: 5px;
  margin-right: 30px;
}

.go {
  background-color: rgb(187, 255, 232);
  margin-left: 25px;
  width: 100px;
  border-radius: 7px;
  border: 2px solid rgb(192, 235, 255);
  font-size: 23px;
  font-weight: bold;
}
.go:hover {
  background-color: rgb(90, 228, 182);
  cursor: pointer;
  border: 2px solid rgb(21, 147, 156);
}
.warn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.wrn {
  background-color: red;
  width: 66%;
  text-align: center;
  border-radius: 7px;
  color: white;
  line-height: 35px;
  font-size: 20px;
}
.zm {
  transition: transform 0.2s;
}

.zm:hover {
  transform: scale(1.2);
}

.zm2 {
  transition: transform 0.2s;
}

.zm2:hover {
  transform: scale(1.08);
}
